<h1 class="about-header">About</h1>
<div class="item-container">
  <div class="item-area cake"></div>
  <div class="item-area candy"></div>
  <div class="item-area creme"></div>
  <div class="item-area pudding"></div>
</div>
<p class="about-text">
  ながのCAKEは全国発送可能なケーキ屋さんです。</br>
  お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  様々なバリエーションをご用意しております。</br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
  ぜひご注文ください。
</p>