<div class="top-container">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="top-image">
        <div class="image-text">
          <p>ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="top-main mt-5">
  <h3>〜新着商品〜</h3>
    <div class="row">
      <% @items.each do |item| %>
      <div class="top-box text-center itme">
        <strong class="col-3">
          <%= link_to item_path(item.id) do %>
            <%= attachment_image_tag item, :image, :fill, 250, 250, alt: "item-image" %><br>
          <% end %>
          <%= item.name %><br>
          <%= item.price %>円
        </strong>
      </div>

      <% end %>
    </div>
  </div>
</div>
</div>