<div class="container">
  <%= link_to "商品作成はこちら", new_admin_item_path %>
  <h2 class="page-header">商品一覧</h2>
  <%= render 'admin/items/item_list', items: @items %>

  <div class="row offset-5">
    <%= paginate @items %>
  </div>
</div>