<div class="container">
  <h2 class="page-header">会員一覧</h2>
  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-0"></div>
    <div class="col-lg-8 col-md-10 col-sm-12">
      <% if @customers.exists? %>
        <%= render 'admin/customers/customer_list', customers: @customers %>
      <% else %>
        <h3>顧客データがありません</h3>
      <% end %>
    </div>
    <%= paginate(@customers) %>
    <div class="col-lg-2 col-md-1 col-sm-0"></div>
  </div>
</div>