<div class="container">
<h1>ジャンル編集</h1>
  <div class="row">
    <div class="col">
      <tr>
        <th>ジャンル名</th>
        <%= form_with model: [:admin, @genre],method: :put, locla: true do |f| %>
          <th><%= f.text_field :name %></th>
          <th><%= f.submit "変更を保存" %></th>
        <% end %>
      </tr>
    </div>
  </div>
</div>