<div class="container">
  <div class="row">
    <h3>管理者ログイン</h3>
  </div>
  
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <th>メールアドレス</th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x50" %></th>
          </tr>
          <tr>
            <th>パスワード</th>
            <th><%= f.password_field :password, autocomplete: "current-password", size: "50x50" %></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </th>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
