// Place all the styles related to the customers/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-title {
font-family: 'Homemade Apple', cursive;
padding-left: 100px;
margin: 15px 0;
color: #DAA520;
font-size: 500px;
}

.top-comment {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: white;
  text-align: center;
}

.main-container {
  font-family: 'Homemade Apple', cursive;
  padding: 60px 0;
  background-color: #EEEEEE;
}
.main-title {
  padding-left: 100px;
  color: rgba(128, 0, 0, 1);
}
.main-box {
  height: 450px;
}
.item-box{
  width: 25%;
  height: 150px;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.item-box > strong{
  padding: 10px;
  color: black;
}

.image-link{
  border: 1px solid #ddd;
  width: 300px;
  height: 226px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
  width: 88%;
  cursor: pointer;
}

.image-link:hover{
  box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}